.product-actions {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.product-actions--title {
  color: white;
  margin-left: 12px;
}
.grid {
  position: fixed;
  left: 400px;
  bottom: 16px;
  right: 16px;
  top: 150px;
}
