.sidebar {
  width: var(--side-bar-width);
  height: 100vh;
  overflow: auto;
  position: fixed;
  top: 0;
  z-index: 100;
  display: flex;
  flex-direction: column;
  background-color: rgb(22 78 99);
}
.sidebarDark {
  width: var(--side-bar-width);
  height: 100vh;
  overflow: auto;
  position: fixed;
  top: 0;
  z-index: 100;
  display: flex;
  flex-direction: column;
  background-color: rgb(27 37 59 / 0.9);
}
.sidebar-header {
  display: flex;
  align-items: center;
  padding: 4px 16px;
}
.sidebar-header--logo {
  height: 40px;
  width: 40px;
  aspect-ratio: 1;
  margin-left: 12px;
  margin-right: 12px;
}
.sidebar-header--title {
  font-size: 18px;
  font-weight: 600;
}
.sidebar-menu {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 16px 0 16px 16px;
}
.sidebar-menu .sidebar-menu--item {
  padding: 15px;
  border-radius: 16px 0 0 16px;
  display: block;
  color: white;
  font-size: 16px;
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
  text-decoration: none;
}
.sidebar-menu .sidebar-menu--item:hover {
  font-weight: 700;
}
.sidebar-menu .sidebar-menu--item--active {
  display: flex;
  position: relative;
  padding: 16px 0 0 16px;
  transition: color 0.3s ease-in-out;
  text-decoration: none;
  padding-left: 12px;
  font-weight: 700;
  padding-bottom: 16px;
  background-color: rgb(35, 45, 69);
  text-decoration: none;
  border-radius: 16px 0 0 16px;
}
.sidebar-menu .sidebar-menu--item--active::before {
  content: "";
  width: 20px;
  height: 20px;
  background-color: #1a2338;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 50%;
  transform: translateY(-100%);
  box-shadow: 10px 10px 0 0 rgb(35, 45, 69);
}
.sidebar-menu .sidebar-menu--item--active::after {
  content: "";
  width: 20px;
  height: 20px;
  background-color: #1a2338;
  position: absolute;
  bottom: 0;
  right: 0;
  border-radius: 50%;
  transform: translateY(100%);
  box-shadow: 10px -10px 0 0 rgb(35, 45, 69);
}
.sidebar-menu--item--icon {
  margin-right: 32px;
}
.sidebar-menu--item:last-child {
  margin-top: auto;
  cursor: pointer;
  border: none;
}
.sidebar-menu--item:last-child:hover {
}
